/* header */
.head{
    width: 1600px;
height: 808px;
background-image: url(../images/banner/banner1.png);
background-position: ;


}
.sub-head{

}
.head-title{
    color: #151414;
    font-weight: 700;
    font-size: 65px;
    margin: 0px 230px 0px 845px;
    padding-top: 200px;
    /* width: 525px;
    height: 225px; */
}
.head-details{
    width: 400px;
    color: #444343;
    font-weight: 400;
font-size: 16px;
padding-left: 850px;

}
.head-btn{
    background: #F15B22;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
   margin-left: 850px;
}
.btn-text{
    color: #FFFFFF;
    font-weight: 600;
font-size: 20px;
}

/* main step one */
.main-one{
     display: flex; 
    margin-top: 120px;
    margin-left: 150px;
}
.photo-one{
    width: 569px;
height: 723.3px;
}
.main-details{

}
.main-title-one{
    margin-top: 230px;
    font-weight: 700;
font-size: 40px;
width: 300px;
margin-left: 90px;
}
.main-pera{
    color: #444343;
    font-weight: 400;
font-size: 16px;
width: 420px;
margin-left: 90px;
margin-top: 24px;
}
.main-ul{
list-style-type: none;
width: 450px;
margin: 70px;
margin-top: 20px;

}
.main-li{
    color: #444343;
    font-weight: 400;
font-size: 16px;
}
/* main step two/xtra section */
 .xtra{
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
    gap: 100px;
    margin-bottom: 100px;
}
.xtra-details{
margin-left: 130px;

}
.xtra-title{
    margin-top: 230px;
    font-weight: 700;
font-size: 40px;
width: 300px;
}
.details{
    color: #444343;
    font-weight: 400;
font-size: 16px;
width: 420px;
} 
/* My plans */
.my-plans{
    
}
.section-title{
    text-align: center;
    font-weight: 700;
font-size: 40px;
}
.plans-container{
    display: flex;
    margin-left: 320px;
    
}
.plan{
    width: 218px;
height: 197px;
gap: 24px;
}
.plan-title{
    font-weight: 700;
    font-size: 25px;
}
.plan-description{
    color: #737272;
    font-weight: 500;
font-size: 25px;

}
    /* gradient */
.gradient{
    height: 300px;
    margin: 140px 200px;
    background-image: url(../images/gradient2.png);
    
     /* background-image: url(../images/watch.png);  */
    width: 1140px;

}

.gradient-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
     /* background-image: url(../images/gradient2.png);  */

}
.gra-details{
    padding: 20px 645px 65px 65px ;
}
.gra-btn{
    background: #FFFFFF;
    width: 160px;
height: 64px;
padding: 20px 25px;
border-radius: 5px;
}
.gra-btn-text{
    color: #F15B22;
    font-weight: 600;
font-size: 20px;
}
/* footer */
.footer-container{
    
    display: flex;
    width: 1600px;
height: 577px;
background: #151414;
gap: 330px;
}
.left-side{
    margin-left: 230px;
    margin-top: 30px;
}
.footer-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.footer-pera{
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    width: 485px;
height: 78px;
color: #FFFFFF;
}
.right-side{
    margin-right: 230px;
    margin-top: 30px;
}
.right-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.input-container{
    display: inline;
}
input[type="submit"]{
     color: #F15B22;
     width: 170px;
height: 64px;
border-radius: 5px;
font-weight: 600;
font-size: 20px;

}
input[type="email"]{
    width: 325px;
    height: 64px;
    border-radius: 5px;
    font-weight: 400;
font-size: 18px
}
